{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="container my-0">
        <div class="row my-5">
            <h1 class="title_text black"><strong>Sign in to Recete</strong></h1>
        </div>
        <div class="row mt-5 mb-0">
            <div class="col"></div>
                <div class="col-6">
                    <form action="/login" method="POST">
                        <div class="form-group mb-3">
                            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
                        </div>
                        <div class="form-group mb-1">
                            <input class="form-control" name="password" placeholder="Password" type="password"/>
                        </div>
                        <div>
                            <a href="/templates/pw_reset.html">Forgot password?</a>
                        </div>
                        <div class="form-group mt-3">
                            <button class="btn brand-button form-control" type="submit" value="Log In">Log In</button>
                        </div>
                    </form>
                </div>
            <div class="col"></div>
        </div>
        <div class="row my-2 mb-5">
            <div class="col"></div>
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='/graphics/login_splash_art.svg') }}" alt="colorful lines with a receipt" height="150">
            </div>
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}
