{% extends "layout.html" %}

{% block main %}
    <h1 class="my-3 title_text black">Download Your Receipt</h1>
    <div class="row justify-content-center m-1 p-2 mb-5 rounded light_green_bg">
        <div class="col-sm-5 my-5">
            <div class="row my-auto py-auto text-start">
                <h3>It's as easy as one, two, three.</h3>
                <ol class="mx-auto px-1">
                    <li>Right click the image (long press if you're on mobile)</li>
                    <li>Select "Save image as"</li>
                    <li>Choose a location to store the photo</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-5 my-3 py-3 justify-content-center">
            <img src="{{ og_img }}" alt="image of a receipt uploaded by user" width="300px" class="rounded shadow">
        </div>
    </div>
{% endblock %}