{% extends "layout.html" %}

{% block title %}
    Password Reset
{% endblock %}

{% block main %}
    <div class="container justify-content-center">
        <div class="row mt-5 mb-3">
            <h1 class="title_text black"><strong>Pick a new password</strong></h1>
        </div>
        <div class="row justify-content-center mt-1 mb-0">
            <p class="flavor_text_sm"><strong>Enter your new password here.</strong></p>
            <div class="col"></div>
            <div class="col">
                <div class="form-group row mb-1 small text-muted justify-content-center">
                    <p class="mx-5 px-3 mb-1">Your password must be at least 8 characters<wbr> long and include at least one of each:</p>
                    <div class="col-6">
                        <ul>
                            <li class="text-start mb-0">Uppercase letter</li>
                            <li class="text-start mb-0">Lowercase letter</li>
                            <li class="text-start mb-0">Number</li>
                            <li class="text-start mb-0">Symbol, punctuation, or special character</li>
                        </ul>
                    </div>
                </div>
            <form action="/pw_update" method="POST">
                <div class="form-group mb-3">
                    <input class="form-control" id="password" name="password" placeholder="New password" type="password" required/>
                </div>
                <div class="form-group mb-3">
                    <input class="form-control" id="confirmation" name="confirmation" placeholder="Confirm password" type="password" required/>
                </div>
                <div class="mb-3 form-group">
                    <button class="btn brand-button form-control" type="submit" value="Change Password">Change Password</button>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
